<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Light Tamplate</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/section1.css">
    <link rel="stylesheet" href="css/section2.css">
    <link rel="stylesheet" href="css/section3.css">
    <link rel="stylesheet" href="css/section4.css">
    <link rel="stylesheet" href="css/section5.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="overclosed">
    <audio autoplay loop id="audio">
        <source src="musik/Sunset.mp3" type="audio/mp3">
    </audio>
    
    <div class="cover">
        <div class="container">
            <img src="img/flower.png" alt="">
            <h1>Hello,We Are Getting Married</h1>
            <p>FEB | <span>12</span> | 2023</p>
            <button id="bukaUndangan" onclick="toggleplay()">Buka Undagan</button>
        </div>
    </div>

    <div class="home" id="home">
        <div class="container">
            <img src="img/flower.png" alt="">
            <p>We Are Getting Married</p>
            <h1>Romeo & Juliet</h1>
            <h3>13 February 2022</h3>
            <h5>Kepada Yth Bapak/Ibu/Saudara/i</h5>
            <h3>Prof. Supardi MM</h3>
            <p>di Yogyakarta</p>

        </div>
    </div>
    <div class="section1 makstop">
        <div class="info-prokes">
            <div class="head">
                <h1>Informasi</h1>
                <h4>Protokol Covid-19</h4>
                <p>Dalam upaya mengurangi penyebaran Covid 19 pada masa pandemi, kami harapkan kedatangan para tamu undangan agar menjalankan protokol yang berlaku.</p>
            </div>
            <section>
                <div>
                    <img src="img/masker.png" alt="">
                    <p>Wajib Menggunakan Masker</p>
                </div>
                <div>
                    <img src="img/distance.png" alt="">
                    <p>Saling Menjaga Jarak di Dalam Acara</p>
                </div>
                <div>
                    <img src="img/salam.png" alt="">
                    <p>Menggunakan salam namastee sebagai ganti berjabat tangan</p>
                </div>
                <div>
                    <img src="img/wash.png" alt="">
                    <p>Jaga Kebersihan dengan Mencuci Tangan atau Handsanitizer</p>
                </div>
            </section>
        </div>
        <div class="couple" id="couple">
            <div class="head">
                <div class="title">
                    <img src="img/daun.png" alt="">
                    <h1>Groom & Bride</h1>
                </div>
                <section>
                    <p>Assalamu’alaikum Warahmatullahi Wabarakatuh</p>
                    <p>Maha suci Allah SWT yang telah menciptakan makhluk-Nya berpasang-pasangan. Ya Allah, perkenankanlah kami merangkai kasih sayang yang Kau ciptakan di antara putra-putri kami:</p>
                </section>
            </div>

            <div class="profil">
                <div class="man">
                    <img src="img/man.png" alt="">
                    <h1>Romeo</h1>
                    <h2>Romeo Montaque</h2>
                    <p>Putra dari Pasangan</p>
                    <p><strong>Bambang & Mulyani</strong></p>
                    <p class="orangeColor">Jl. Majapahit, No 43, Sleman, Yogyakarta</p>
                </div>
                <div class="woman">
                    <img src="img/woman.png" alt="">
                    <h1>Juliet</h1>
                    <h2>Juliet Capulet</h2>
                    <p>Putri dari Pasangan</p>
                    <p><strong>Joko & Siti</strong></p>
                    <p class="orangeColor">Jl. Apel 15C, Condongcatur, Sleman, Yogyakarta</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section2 makstop2">
        <div class="event" id="event">
            <div class="boxEvent">
                <section class="satu">
                    <h1>Akad Nikah</h1>
                    <p><strong>Saturday, 12 February 2022 08:00 - 09:00 WIB</strong></p>
                    <p><strong>Masjid Kampus UGM</strong></p>
                    <p>Jl. Prof. DR. Drs Notonagoro, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Yogyakarta</p>
                </section>
                <section class="dua">
                    <h1>Resepsi</h1>
                    <p><strong>Sunday, 13 February 2022 09:00 - 12:00 WIB</strong></p>
                    <p><strong>Jogja Expo Center</strong></p>
                    <p>Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Bantul, Yogyakarta</p>
                </section>
                <section class="tiga">
                    <h1>Unduh Mantu</h1>
                    <p><strong>Saturday, 20 February 2021 09:00 - Selesai</strong></p>
                    <p><strong>Rumah Bapak Bambang</strong></p>
                    <p>Gowongan, Jetis, Yogyakarta City, Special Region of Yogyakarta</p>
                </section>
            </div>
        </div>
    </div>   
    <div class="section3 makstop">
        <div class="story" id="story">
            <img src="img/daun.png" alt="">
            <h1>Our Love Story</h1>
            <div class="slider">

                <div class="owl-carousel owl-theme">

                    <div class="img_poster item">
                        <div class="title">
                            <h2>Pertama Kenal</h2>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>1 Januari 2022</strong> - gramedia</p>
                    </div>
                    <div class="img_poster item">
                        <div class="title">
                            <h2>Mengatakan Cinta</h2>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>1 Februari 2022</strong> - Pantai</p>
                    </div>
                    <div class="img_poster item">
                        <div class="title">
                            <h2>Tunangan</h2>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>1 Maret 2022</strong> - Rumah Juliet</p>
                    </div>

                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>
                    $('.owl-carousel').owlCarousel({
                        loop: false,
                        margin: 15,
                        nav: true,
                        autoplay: false,
                        autoplayTimeout: 3000,
                        stagePadding: 0,
                        dots: false,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 1
                            },
                            800: {
                                items: 1
                            },
                            1000: {
                                items: 1
                            },
                            1200: {
                                items: 1
                            }
                        }
                    })
                </script>

            </div>
        </div>
    </div>

    <div class="section4">
        <div class="gallery" id="gallery">
            <div class="head">
                <img src="img/daun.png" alt="">
                <h1>Our Galery</h1>
            </div>
            <div class="pict">
                <section >
                    <img src="img/Prewedding1.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding2.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding3.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding4.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding1.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding2.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding3.jpg" alt="">
                </section>
                <section >
                    <img src="img/Prewedding4.jpg" alt="">
                </section>
            </div>
            <div class="video">
                <div class="embed">
                <embed src="https://www.youtube.com/embed/Q-rGIR3DdNk" type="video/webm">
                </div>
            </div>
        </div>
    </div>

    <div class="section5">
        <div class="containerTime">
            <div class="titleTime">
                <img src="img/daun.png" alt="">
                <h1>Time To Happy Day</h1>
            </div>
            <div class="time">
                <section>
                    <h1>0</h1>
                    <p>Hari</p>
                </section>
                <section>
                    <h1>0</h1>
                    <p>Jam</p>
                </section>
                <section>
                    <h1>0</h1>
                    <p>Menit</p>
                </section>
                <section>
                    <h1>0</h1>
                    <p>Detik</p>
                </section>
            </div>
            <div class="maps">
                <button><a href="">Open Google Maps</a></button>
            </div>
        </div>
    </div>
    
    <div class="quote makstop2">
        <section>
            <p>"Tidak ada solusi yang lebih baik bagi dua insan yang saling mencintai di banding pernikahan."</p>
            <h3>HR. Ibnu Majah</h3>
        </section>
    </div>
    <div class="guest-book makstop" id="guest-book">
        <img src="img/flower.png" alt="">
        <h1>Gues Book</h1>
        <div class="send">
            <form action="" method="post">
                <section>
                    <label for="namaTamu">Nama</label>
                    <input type="text" name="" id="namaTamu" value="Prof. Supardi MM" readonly autocomplete="off">
                </section>
                <section>
                    <label for="keterangan">Keterangan</label>
                    <select name="" id="keterangan">
                        <option value="">Hadir</option>
                        <option value="">Tidak Hadir</option>
                    </select>
                </section>
                <section>
                    <label for="pesan">Pesan/Doa</label>
                    <textarea name="" id="pesan" cols="30" rows="10"></textarea>
                </section>
                <button>Kirim</button>
            </form>
        </div>
        <div class="result">
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
            <section>
                <p class="nama">Syahrul Ansyari</p>
                <p class="waktu">08 March 2021 17:03</p>
                <p class="pesan">Selamat ma broo, akhirnya menikah juga. Semoga menjadi keluarga yang sakinah, mawadah, warahmah. Aamiin.</p>
            </section>
        </div>
    </div>
    <div class="popUpHadiah hiddenPopUp">
        <section>
            <div  class="head">
                 <h1>Kirim Hadiah</h1>
                 <p onclick="popUpHadiah()"><strong>x</strong></p>
            </div>
        </section>
    </div>
    <div class="buttonTopNav">
        <div class="button">
            <button id="playpause" onclick="toggleplay()">Play &#9658</button>
            <button id="hadiah" onclick="popUpHadiah()">Kirim Hadiah</button>
        </div>
    </div>
    <div class="navBottom">
        <div class="nav-item">
            <a href="#home" class="Navhome">
                <h3>Home</h3>
            </a>
            <a href="#couple" class="Navcouple">
                <h3>Couple</h3>
            </a>
            <a href="#event" class="Navevent">
                <h3>Event</h3>
            </a>
            <a href="#story" class="Navstory">
                <h3>Story</h3>
            </a>
            <a href="#gallery" class="Navgallery">
                <h3>Gallery</h3>
            </a>
            <a href="#guest-book" class="Navguest-book">
                <h3>Guest Book</h3>
            </a>
        </div>
    </div>
</body>
<script src="js/script.js"></script>
</html>