.section4 {
    width: 100%;
    padding-top: 10%;
    position: relative;
  }
  @media (max-width:800px) {
    .section4{
      margin-top: 10%;
    }
}
  .gallery .head {
    width: 100%;
    text-align: center;
  }
  .gallery .head img {
    width: 15%;
  }
  .gallery .head h1 {
    font-size: 30px;
    margin: auto 2%;
    color: #e29f72;
    font-weight: 500;
    font-family: "Satisfy", cursive;
  }
  
  .gallery .pict {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 5%;
    flex-wrap: wrap;
  }
  .gallery .pict section {
    width: 250px;
    padding: 1%;
    transition: 0.5s;
    border-radius: 10px;
  }
  .gallery .pict section img {
    width: 100%;
    border-radius: 10px;
    transform: scale(0.6);
    opacity: 0;
    transition: 1s;
  }
  /* FADE - IN */
  .gallery .pict section .imgFadeIn{
    transform: scale(1) !important;
    opacity: 1 !important;
  }
  /* FADE - IN */
  .gallery .pict section:hover {
    padding: 0;
  }
  .gallery .video {
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .gallery .video .embed {
    width: 40%;
    height: 80%;
    margin: 100px auto;
  }
  .gallery .video .embed embed {
    width: 100%;
    height: 80%;
  }
  
  @media (max-width:800px){
    .gallery .head img{
      width: 150px;
    }
    .gallery .head h1{
      font-size: 35px;
    }
    .gallery .video .embed{
      width: 80%;
      height: 80%;
    }
  }