.section3 {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 5%;
  }

  .story {
    width: 100%;
    text-align: center;
  }
  .story img {
    width: 200px;
  }
  .story h1 {
    font-size: 30px;
    margin-bottom: 5%;
    font-family: "Satisfy", cursive;
    color: #e29f72;
    font-weight: 500;
  }
  .story .slider {
    width: 60%;
    margin: auto;
    position: relative;
    top: 100px;
    opacity: 0;
    transition: 1s;
    cursor: grab;
    font-family: "Lato", sans-serif;
  }
  /* FADE - IN */
  .story .sliderFadeIn{
    top: 0 !important;
    opacity: 1 !important;
  }
  /* FADE - IN */
  .story .slider .title {
    width: 100%;
    height: 50px;
    display: flex;
  }
  .story .slider .title h2 {
    margin: auto;
    font-family: Tangerine, cursive;
    font-weight: 500;
    font-style: italic;
  }
  .story .slider p {
    font-size: 17px;
    margin: 3% 0;
  }
  .owl-next span,.owl-prev span{
    color: #e29f72 !important;
    border: 2px solid #e29f72;
    padding: 5px;
  }
  @media (max-width:800px){
    .story{
      padding: 50px 0 200px;
    }
  
  
    .story img{
      width: 200px;
    }
    .story h1{
      font-size: 40px;
      margin-bottom: 50px;
    }
    .story .slider{
      width: 80%;
    }
  }