.section5{
    width: 100%;
    text-align: center;
  }
  .containerTime{
    width: 100%;
  }
  .containerTime .titleTime{
    width: 100%;
    text-align: center;
  }
  .containerTime .titleTime img{
    width: 15%;
  }
  .containerTime .titleTime h1{
    font-size: 30px;
    color: #e29f72;
    font-weight: 500;
    font-family: "Satisfy", cursive;
  }
  .containerTime .time {
    margin-top: 5%;
    width: 50px;
    display: flex;
    justify-content: left;
    opacity: 0;
    flex-wrap: wrap;
    transition: 1s;
  }
  .containerTime .timeFadeIn{
    width: 100%;
    justify-content: center;
    opacity: 1;
  }
  .containerTime .time section {
    width: 10%;
    padding: 2%;
    margin: 0 2%;
    text-align: center;
    border-radius: 10px;
    background-color: #e29f72;
    color: #fff;
    font-family: Quicksand, sans-serif;
  }
  .containerTime .time section h1 {
    font-size: 25px;
    margin-bottom: 15%;
  }
  .containerTime .time section p {
    font-weight: 600;
  }
  .containerTime .maps {
    width: 100%;
    padding: 5% 0;
  }
  .containerTime .maps button {
    width: 15%;
    height: 40px;
    margin: auto;
    background: #f5e2e4;
    border: none;
    border-radius: 50px;
    color: #111;
    transition: 0.5s;
    cursor: pointer;
  }
  .containerTime .maps button:hover {
    background: #e29f72;
  }
  .containerTime .maps button a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 15px;
  }
  
  @media (max-width:900px){
    .containerTime .time{
      margin-top: 0;
    }
    .containerTime .time section{
      width: 20%;
      margin: 5% 2%;
    }
    .containerTime .maps button{
      width: 50%;
    }
  }