* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* COVER */
.overclosed {
  position: fixed !important;
  overflow: hidden;
}
.cover {
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed !important;
  overflow: hidden;
  display: flex;
  z-index: 999;
  transition: 0.8s;
  background: linear-gradient(
      rgba(236, 140, 255, 0.5),
      rgba(255, 126, 182, 0.5)
    ),
    url("../img/cover.jpeg");
  background-position: center;
  background-size: cover;
}
.cover .container {
  width: 80%;
  padding: 2%;
  margin: auto;
  bottom: 0;
  text-align: center;
  font-family: Tangerine, cursive;
}
.cover .container img {
  width: 30%;
  margin: auto;
}
.cover .container h1 {
  font-size: 70px;
  color: white;
  margin-bottom: 5%;
}
.cover .container p {
  font-size: 30px;
  color: white;
  margin-bottom: 5%;
}
.cover .container button {
  width: 25%;
  height: 40px;
  background: #fff;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.cover .container button:hover {
  color: #fff;
  background: rgb(255, 157, 173);
}

/* HOME */
.home {
  height: 100vh;
  background: linear-gradient(rgba(235, 233, 233, 0.3), rgba(0, 0, 0, 0.5)),
    url("../img/cover-home.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
}
.home .container {
  width: 50%;
  margin: auto;
  text-align: center;
  color: #fff;
  padding: 5%;
}
.home .container p {
  font-size: 30px;
  margin-bottom: 5%;
}
.home .container h1 {
  font-size: 70px;
  margin-bottom: 5%;
  font-family: Tangerine, cursive;
}
.home .container h3 {
  font-size: 40px;
  margin-bottom: 8%;
  font-family: Quicksand, sans-serif;
}
.home .container h5 {
  font-size: 20px;
  width: 40%;
  margin: auto;
  font-weight: 500;
  font-style: italic;
}
/* MAKS TOP */
.makstop::before {
  content: "";
  background: url("../img/bg-mask.png");
  background-size: cover;
  width: 100%;
  height: 100px;
  display: block;
  position: absolute;
  top: -90px;
  z-index: 2;
}
.makstop2::before {
  content: "";
  background: url("../img/bg-mask2.png");
  background-size: cover;
  width: 100%;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* STORY */
.story {
  width: 100%;
  position: relative;
  padding: 3% 0 5% 0;
}
.story .info-prokes {
  width: 100%;
}
.story .info-prokes .head {
  width: 40%;
  margin: 5% auto;
  text-align: center;
}
.story .info-prokes .head h1 {
  font-size: 40px;
  margin-bottom: 7%;
  font-family: Tangerine, cursive;
}
.story .info-prokes .head h4 {
  margin: 2% auto;
  width: 30%;
  font-size: 17px;
  border-bottom: 1px solid #000;
  font-family: Quicksand, sans-serif;
}
.story .info-prokes .head p {
  color: #212529;
  font-family: Quicksand, sans-serif;
}
.story .info-prokes section {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.story .info-prokes section div {
  width: 30%;
  margin: 3%;
  text-align: center;
  color: #212529;
  font-family: Quicksand, sans-serif;
}
.story .info-prokes section div img {
  width: 70px;
}

.story .container {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.story .container img {
  width: 300px;
  margin: 5% 0;
}
.story .container h1 {
  font-size: 55px;
  margin-bottom: 5%;
  font-family: Tangerine, cursive;
}
.story .container .slider {
  width: 60%;
  margin: auto;
  position: relative;
  top: 100px;
  transition: 1s;
}
.story .container .slider .title {
  width: 100%;
  height: 50px;
  display: flex;
  background: #f5e2e4;
}
.story .container .slider .title h2 {
  margin: auto;
  font-family: Tangerine, cursive;
  font-weight: 500;
  font-style: italic;
}
.story .container .slider p {
  font-size: 17px;
  margin: 3% 0;
}
/* STORY */

/* COUPLE */
.couple {
  padding-top: 10%;
  position: relative;
  width: 100%;
  background-color: rgba(109, 148, 142, 0.2);
  overflow-y: hidden;
}
.couple .head {
  width: 60%;
  margin: auto;
  text-align: center;
}
.couple .head .title {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 100px;
  opacity: 0;
  transition: 1s;
}
.couple .head .title img {
  width: 15%;
}
.couple .head .title h1 {
  font-size: 50px;
  font-family: Tangerine, cursive;

  margin: auto 5%;
}
.couple .head section {
  margin-top: 5%;
}
.couple .head section p {
  font-size: 20px;
  margin-top: 5%;
  color: #212529;
  position: relative;
  opacity: 0;
  top: 100px;
  transition: 1s;
}

.couple .profil {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}
.couple .profil div {
  width: 30%;
  font-family: Quicksand, sans-serif;
  text-align: center;
  transition: 1s;
}
.couple .profil .man {
  position: relative;
  left: -250px;
  top: -100px;
  opacity: 0;
}
.couple .profil .woman {
  position: relative;
  right: -250px;
  top: -100px;
  opacity: 0;
}
.couple .profil div img {
  width: 60%;
  border-radius: 50%;
  border: 4px solid #c0616a;
}
.couple .profil div h1 {
  margin: 5% 0;
}
.couple .profil div h2 {
  margin-bottom: 10%;
}
.couple .profil div p {
  margin-bottom: 5%;
}

/* COUPLE */

/* EVENT */
.event {
  width: 100%;
  text-align: center;
  padding-top: 5%;
  position: relative;
}
.event img {
  width: 20%;
}
.event .boxEvent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 0;
}
.event .boxEvent section {
  position: relative;
  top: 100px;
  text-align: center;
  width: 25%;
  margin: 0 10px;
  padding: 2%;
  background: #fff;
  box-shadow: 8px 15px 20px #ccc;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
}
.event .boxEvent .satu {
  transition-delay: 0.2s;
}
.event .boxEvent .dua {
  transition-delay: 0.4s;
}
.event .boxEvent .tiga {
  transition-delay: 0.6s;
}
.event .boxEvent section h1 {
  font-size: 35px;
  font-family: Quicksand, sans-serif;
}
.event .boxEvent section p {
  font-size: 17px;
  margin-top: 10%;
  font-family: Quicksand, sans-serif;
}
.event .time {
  margin-top: 10%;
  width: 50px;
  display: flex;
  justify-content: left;
  opacity: 0;
  flex-wrap: wrap;
  transition: 1s;
}
.event .time section {
  width: 10%;
  padding: 2%;
  margin: 0 2%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Quicksand, sans-serif;
}
.event .time section h1 {
  font-size: 25px;
  color: #c0616a;
  margin-bottom: 15%;
}
.event .time section p {
  font-weight: 600;
}
.event .maps {
  width: 100%;
  padding: 5% 0;
}
.event .maps button {
  width: 15%;
  height: 40px;
  margin: auto;
  background: #f5e2e4;
  border: none;
  border-radius: 50px;
  color: #111;
  transition: 0.5s;
  cursor: pointer;
}
.event .maps button:hover {
  background: #bf616b;
}
.event .maps button a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 15px;
}
/* EVENT */

/* GALLERY */
.gallery {
  width: 100%;
  padding: 10% 0;
  position: relative;
  background-color: rgba(109, 148, 142, 0.2);
}
.gallery .head {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery .head img {
  width: 100px;
}
.gallery .head h1 {
  font-size: 50px;
  margin: auto 2%;
}

.gallery .pict {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10% 5%;
  flex-wrap: wrap;
}
.gallery .pict section {
  width: 250px;
  padding: 1%;
  transition: 0.5s;
  border-radius: 10px;
}
.gallery .pict section img {
  width: 100%;
  border-radius: 10px;
  transform: scale(0.6);
  opacity: 0;
  transition: 1s;
}
.gallery .pict section:hover {
  padding: 0;
}
.gallery .video {
  width: 100%;
  height: 500px;
  text-align: center;
}
.gallery .video h1 {
  font-size: 50px;
  font-family: Tangerine, cursive;
}
.gallery .video .embed {
  width: 40%;
  height: 80%;
  margin: 100px auto;
}
.gallery .video .embed embed {
  width: 100%;
  height: 80%;
}
/* GALERY */

/* QUOTE */
.quote {
  width: 100%;
  text-align: center;
  padding-top: 5%;
  position: relative;
}
.quote img {
  width: 300px;
}
.quote p {
  font-size: 18px;
  line-height: 3;
}
.quote h3 {
  font-size: 20px;
  font-style: italic;
}
/* QUOTE */

/* GUEST BOOK */
.guest-book {
  width: 100%;
  padding: 5% 0;
  text-align: center;
}
.guest-book img {
  width: 300px;
}
.guest-book h1 {
  font-size: 50px;
  margin-top: 5%;
  font-family: Tangerine, cursive;
}
.guest-book .send {
  width: 45%;
  margin: 100px auto;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2%;
  background: #fff;
  box-shadow: 5px 5px 10px #ccc;
}
.guest-book .send form {
  width: 100%;
}
.guest-book .send form section {
  width: 100%;
  margin-top: 5%;
  font-family: Quicksand, sans-serif;
}
.guest-book .send form section label {
  display: block;
}
.guest-book .send form section input,
.guest-book .send form section textarea,
.guest-book .send form section select {
  width: 100%;
  padding: 2%;
  border-radius: 5px;
}
.guest-book .send form section #pesan {
  height: 70px;
}
.guest-book .send form button {
  width: 20%;
  height: 30px;
}
.guest-book .result {
  width: 40%;
  margin: 100px auto;
  border: 1px solid #bbb;
  padding: 2%;
  max-height: 500px;
  overflow-y: scroll;
  background: #f5e2e4;
  border-radius: 20px;
}
.guest-book .result section {
  width: 100%;
  margin-bottom: 5%;
  padding-bottom: 4%;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-family: Quicksand, sans-serif;
}
.guest-book .result section .nama {
  color: rgb(123, 120, 120);
}
.guest-book .result section .waktu {
  font-size: 15px;
  margin-bottom: 10px;
  color: rgb(146, 143, 143);
}
/* GUEST BOOK */

/* POP UP */
.popUpHadiah {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 5% 0;
  z-index: 999;
  transition: 0.5s;
}
.popUpHadiah section {
  width: 30%;
  height: 120vh;
  background: #fff;
  border-radius: 10px;
}
.popUpHadiah section .head {
  width: 100%;
  display: flex;
  font-family: Quicksand, sans-serif;
  justify-content: space-between;
  padding: 5%;
  border-bottom: 1px solid #eee;
}
.popUpHadiah section .head p {
  color: #555;
  cursor: pointer;
  font-size: 20px;
}
.popUpHadiah section .head p:hover {
  color: red;
}
.hiddenPopUp {
  z-index: -99;
  opacity: 0;
}
.overflowHidden {
  overflow-y: hidden;
}

/* POP UP */
/* BUTTON TOP NAV BOTTOM */
.buttonTopNav {
  width: 100%;
  position: fixed;
  z-index: 99;
  bottom: 120px;
}
.buttonTopNav .button {
  width: 100%;
  display: flex;
  position: absolute;
  top: -50px;
  justify-content: center;
}
.buttonTopNav .button #playpause {
  position: absolute;
  left: 0;
  width: 5%;
  padding: 2px;
  font-family: Quicksand, sans-serif;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
}
.buttonTopNav .button #hadiah {
  width: 10%;
  height: 40px;
  padding: 4px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  border-radius: 5px;
}
.buttonTopNav .button #hadiah:hover {
  background: #eee;
}
/* BUTTON TOP NAV BOTTOM */

/* NAV BOTTOM */
.navBottom {
  width: 100%;
  position: fixed;
  padding: 2% 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 -2px 10px #ddd;
  z-index: 99;
}
.navBottom .nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -5%;
}
.navBottom .nav-item a {
  width: 10%;
  font-family: Quicksand, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #555;
  padding: 1%;
  margin: 0 1%;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: 1s;
}
.navBottom .nav-item h3 {
  font-weight: 400;
}
.navBottom .nav-item a:hover {
  color: #c0616a;
}
.navBottom .nav-item .navNow {
  background: #c0616a;
  color: #fff;
}
.navBottom .nav-item .navNow:hover {
  color: #fff !important;
}
/* NAV BOTTOM */
